/* Fonts */
@font-face {
  font-family: IRRegular;
  src: url("./assets/fonts/IRANYekanXFaNum-Regular.woff");
}

@font-face {
  font-family: IRBold;
  src: url("./assets/fonts/IRANYekanXFaNum-Bold.woff");
}

@font-face {
  font-family: VazirRegular;
  src: url("./assets/fonts/Vazirmatn-FD-Regular.woff2");
}

/* Keyframes */
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translate(500px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/* Base */
body {
  font-family: IRRegular, VazirRegular;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 0.875rem;
  margin: 0;
}

body.light {
  background-color: #fafafa;
}

body.dark {
  background-color: #18181b;
}

#root {
  height: 100%;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-webkit-input-placeholder {
  visibility: hidden !important;
}

/* Scrollbar */
body ::-webkit-scrollbar {
  width: 0.25rem;
}

body ::-webkit-scrollbar-track {
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}

body ::-webkit-scrollbar-thumb {
  background-clip: content-box;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}

body.light ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(24, 24, 27, 0.25);
}

body.light ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(250, 250, 250, 0.9);
  background-color: rgba(250, 250, 250, 0.9);
}

body.dark ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(250, 250, 250, 0.25);
}

body.dark ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(24, 24, 27, 0.9);
  background-color: rgba(24, 24, 27, 0.9);
}

/* Utilities */
.legacy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade {
  animation-name: fade;
  animation-duration: 500ms;
}

.slide {
  animation-name: slide;
  animation-duration: 1000ms;
}
